body {
	color: var(--secondary-color);
	background-color: var(--primary-color);
	font-size: 80px;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1{
	font-size: 60px;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	text-align: center;
	color: black;
}