
#gallery{
    display: inline-block;
    position: relative;
    justify-content: center;
    margin-right: 0;
    margin-bottom: 10px;
    padding: 90px 5px;
    cursor: pointer;
    width: 50%;
    height: auto;
}